.home-page {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    align-items: center;
}

.home-page-text {
    font-size: 1.2em;
}

.home-page-img {
    flex-shrink: 0;
    width: 30%;
    object-fit: contain;
    border-radius: 1em;
}

.home-page-text > .indent {
    text-indent: 2em;
}

@media only screen and (max-width: 860px) {
    .home-page-text {
        font-size: 1em;
    }
}

@media only screen and (max-width: 770px) {
    .home-page {
        display: flex;
        height: unset;
        flex-direction: column;
    }

    .home-page-img {
        object-fit: contain;
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1em;
    }

    .home-page-text {
        font-size: 1.2em;
        margin-bottom: 2em;
    }
}