.nano-racks-and-robotics {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.header-box {
}

.header-box > p {
    text-align: center;
}

.content-section-box {
}

.img-box {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.img-box > img {
    max-width: 50%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media only screen and (max-width: 700px) {
    .img-box {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    .img-box > img {
        max-width: 80%;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

