.navigation-header-bar {
    background: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 2em;
    padding-right: 5em;
    z-index: 1000000;
    /*box-shadow: 0 0.2em 5 gray;*/
    box-shadow: 0 0.2em 1em 0 #ccc;
}

.my-name-wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.my-name-header {
    color: black;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.external-sites-img-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 100%;
    width: auto;
    gap: 0.75em;
}

.external-site-a {
    height: 100%;
    display: flex;
    align-items: center;
}

.external-site-img {
    object-fit: contain;
    height: 50%;
    width: auto;
}

.nav-buttons-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1em;
    margin-left: 1em;
}

.nav-link {
    color: black;
    align-self: center;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-link-active {
    text-decoration: underline;
}