.navigation-header-bar {
    background: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 2em;
    padding-right: 5em;
    z-index: 1000000;
    /*box-shadow: 0 0.2em 5 gray;*/
    box-shadow: 0 0.2em 1em 0 #ccc;
}


@media only screen and (max-width: 770px) {
    .navigation-header-bar {
        padding-left: 1em;
    }
}

.my-name-wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.my-name-header {
    color: black;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.external-sites-img-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 100%;
    width: auto;
    gap: 0.75em;
}

.external-site-a {
    height: 100%;
    display: flex;
    align-items: center;
}

.external-site-img {
    object-fit: contain;
    height: 50%;
    width: auto;
}

.nav-buttons-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1em;
    margin-left: 1em;
}

.nav-link {
    color: black;
    align-self: center;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-link-active {
    text-decoration: underline;
}

.navigation-header-bar-hamburger-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 1em;
}


.navigation-header-bar-hamburger {
    display: flex;
    flex-direction: column;
    height: 2.5em;
    width: 2.0em;
    gap: 0.3em;
    justify-content: center;
    cursor: pointer;
}

.navigation-header-bar-hamburger > div {
    width: 100%;
    height: 0.3em;
    background-color: black;
    border-radius: 1em;
}

.side-bar {
    position: absolute;
    transition: left ease-out 500ms;
    background-color: white;
    z-index: 2;
    max-width: 50%;
}

.side-bar-active-background {
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: rgba(140, 140, 140, 0.24);
    z-index: 1;
}

.side-bar-link-flex-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-bar-link {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.side-bar-link > p {
    color: black;
    text-align: center;
    font-size: 1.3em;
}

.side-bar-external-site-img-box {
    margin-top: auto;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.side-bar-external-site-img {
    width: 100%;
    max-height: 2em;
    object-fit: contain;
}

@media only screen and (max-width: 770px) {
    .external-sites-img-wrapper {
        display: none;
    }

    .nav-buttons-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 770px) {
    .navigation-header-bar-hamburger-wrapper {
        display: none;
    }

    .side-bar-active-background {
        display: none;
    }

    .side-bar {
        display: none;
    }
}