.projects-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.table-of-contents {
    background-color: rgb(var(--projects-table-of-contents-background-color));
    border-radius: 1em;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 0.6em 0.1em #000;
}

.table-of-contents-link-box {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.project-section {
    padding-top: var(--navigation-bar-height);
    margin-top: calc(var(--navigation-bar-height) * -1);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-section-header {
    margin-bottom: 0.2em;
}

.project-imgs-flex-box-no-wrap {
    display: flex;
    max-width: 100%;
    gap: 1em;
    justify-content: center;
}

.project-img {
    object-fit: contain;
    max-height: 70vh;
    position: relative;
    overflow: hidden;
}

.first-project-section p {
    margin-top: 1em;
}

.home-automation-components-subsection {
    clear: left;
    margin-top: 1em;
}

.home-automation-component-ul {
    margin-left: 2em;
}

.paragraph-flex-box {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 770px) {
    .table-of-contents {
        float: unset;
        width: 100%;
    }
}