.work-experience {
    margin: 1em 0 2em;
}

.resumes {
    margin-bottom: 2em;
}

.work-experience-companies {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.company-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.company-tenure-box {
    margin-left: auto;
}

.company-experience-box {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    gap: 1em;

    ul {
        margin-left: 2em;
    }
}

.client-experience-box {
    display: flex;
    flex-direction: column;
}

.company-description {
    font-weight: bold;
}

.other-experience-box {
    position: relative;
}

.other-experience-box > p {
    text-indent: 1em;
}

.other-experience-img-box {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.other-experience-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.other-experience-centered-img-box-50-percent-width {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 770px) {
    .company-header {
        flex-direction: column;
    }

    .company-header h2 {
        font-size: 1em;
    }

    .company-tenure-box {
        margin-left: unset;
    }

    .company-experience-box {
        padding-left: 0;
    }
}